@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;

}

.app {
  min-height: 100vh;
  display: grid;
  background: #e2d4ff;

}

/* basic responsive body background for PWA splash harmony */
@media (prefers-color-scheme: dark) {
  .app { background: #1f2937; }
}